@model AspNetGroupBasedPermissions.Models.Jobpost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jobpost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDiscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinExperince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinExperince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxExperince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxExperince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinSal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinSal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxSal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxSal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vacancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vacancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPostExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPostExpDate)
        </dd>

    </dl>
</div>


<div data-role="footer" data-position="fixed">
<nav data-role="navbar">
    <ul>

       <li> @Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
        <li> @Html.ActionLink("Delete", "delete", new { id = Model.Id })</li>
        <li> @Html.ActionLink("Back", "Index")</li>

    </ul>
</nav>
</div>