@model AspNetGroupBasedPermissions.Models.Jobpost

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Jobpost</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobDiscription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobDiscription)
                @Html.ValidationMessageFor(model => model.JobDiscription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinExperince, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinExperince)
                @Html.ValidationMessageFor(model => model.MinExperince)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxExperince, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxExperince)
                @Html.ValidationMessageFor(model => model.MaxExperince)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinSal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinSal)
                @Html.ValidationMessageFor(model => model.MinSal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxSal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxSal)
                @Html.ValidationMessageFor(model => model.MaxSal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vacancy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vacancy)
                @Html.ValidationMessageFor(model => model.Vacancy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobLocation)
                @Html.ValidationMessageFor(model => model.JobLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Industry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Industry)
                @Html.ValidationMessageFor(model => model.Industry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Name)
                @Html.ValidationMessageFor(model => model.Company_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactPerson)
                @Html.ValidationMessageFor(model => model.ContactPerson)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile)
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPostDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPostDate)
                @Html.ValidationMessageFor(model => model.JobPostDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPostExpDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPostExpDate)
                @Html.ValidationMessageFor(model => model.JobPostExpDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

