@model IEnumerable<AspNetGroupBasedPermissions.Models.Jobpost>

@{
    ViewBag.Title = "Job Posts";
}

<h2>Job Posted By You </h2>

<p>
  <a href="@Url.Action("Create",new{profileId=ViewBag.ProfileId})" class="btn btn-default">Creat new</a>
</p>

    </ul>
<table class="table">
    <tr>
        <th>
            Company Name
        </th>
        
        <th>
           Posts
            
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.JobPostExpDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <h3> @Html.DisplayFor(modelItem => item.Company_Name    )</h3>
           
            <p>Posted On: @Html.DisplayFor(modelItem=>item.JobPostDate)</p>
        </td>

        
        <td>
            
            @Html.DisplayFor(modelItem=>item.JobTitle)
           <p>Vacancies: @Html.DisplayFor(modelItem => item.Vacancy)</p>
           <p>Experience:@Html.DisplayFor(modelItem => item.MinExperince) to @Html.DisplayFor(modelItem => item.MaxExperince) Years</p>
           <p>Salary: @Html.DisplayFor(modelItem => item.MinSal) - @Html.DisplayFor(modelItem => item.MaxSal)</p>
           
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.JobPostExpDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Applications", "AppliedForJob", new { id = item.Id })|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
