@model AspNetGroupBasedPermissions.Models.Notification

@{
    ViewBag.Title = "Notification";
}

<h2>Notification</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.from)
        </dt>

        <dd>
            @Html.ViewBag.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notificaion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notificaion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
