@model IEnumerable<AspNetGroupBasedPermissions.Models.Jobpost>

@{
    ViewBag.Title = "Jobs";
}




<div data-role="content">
    <ul data-role="listview" data-filter="true" class="my_class_list">

        @foreach (var item in Model)
        {

            <li>

                <a href="@Url.Action("Details", new {item.Id})">

                    <h3>@Html.DisplayFor(modelItem => item.JobTitle)</h3>

                    <p>@Html.DisplayFor(modelItem => item.JobPostDate) - @Html.DisplayFor(modelItem => item.Company_Name) </p>

                </a>

            </li>

        }

    </ul>
</div>
    <div data-role="footer" data-position="fixed">
        <nav data-role="navbar">
            <ul>

                <li> @Html.ActionLink("Home", "Index", "home")</a>
                <li> @Html.ActionLink("Back", "Index")</li>

            </ul>
        </nav>
    </div>
    